{
	"parser": "espree",
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module"
	},
	"env": {
		"browser": true,
		"es6": true,
		"node": true
	},
	"extends": "eslint:recommended",
	"rules": {
		"eol-last": 2,
		"eqeqeq": 2,
		"indent": [2, "tab", {"SwitchCase": 1}],
		"keyword-spacing": 2,
		"no-console": 0,
		"no-debugger": 0,
		"no-extra-parens": 2,
		"no-multi-spaces": 0,
		"no-spaced-func": 2,
		"no-trailing-spaces": 2,
		"no-var": 2,
		"prefer-template": 2,
		"prefer-arrow-callback": 2,
		"quotes": [2, "single"],
		"semi": [2, "always"],
		"space-before-blocks": 2,
		"space-before-function-paren": [2, "never"],
		"space-infix-ops": 2,
		"space-unary-ops": 2
	}
}
